# Allow echo -e
disable=SC3036

# Allow if [[ ]]
disable=SC3010

# Allow if [ == ]
disable=SC3014

# Allow keyword function
disable=SC2112,SC2113

# Allow RANDOM
disable=SC3028

### TEMPORARILY ###
disable=SC2015,SC2086,SC1091
